<div class="carousel-container">
  <div class="carousel-slide d-flex justify-content-center gap-2">

    @for(movie of visibleMovies; track $index) {
      <div class="poster-wrapper">
        <img
          [src]="movie.posterMedium"
          [alt]="movie.title"
          class="movie-poster"
          [title]="movie.title"
        />
        <span class="movieRate positionAbsolute border-1">⭐ {{ movie.user_rating }}</span>
        <span class="movieLang positionAbsolute border-1">{{ movie.original_language }}</span>
      </div>
    }

  </div>

  <button type="button" class="carousel-control prev" (click)="prevSlide()">&#10094;</button>
  <button type="button" class="carousel-control next" (click)="nextSlide()">&#10095;</button>
</div>
