<div class="container-fluid mt-5">

  @if (isLoading) {

    <div class="d-flex justify-content-center align-items-center gap-1">
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden"></span>
      </div>
      <div>
        <span role="status">Loading...</span>
      </div>
    </div>

  } @else {

    <div class="mb-4">
      <h1>Movies in all language</h1>
      <app-carusel></app-carusel>
    </div>

    @if (englishMovies().length > 0) {
      <div class="mb-4">
        <h1>Movies in English</h1>
        <app-carusel [movies]="englishMovies()"></app-carusel>
      </div>
    }

    @if (frenchMovies().length > 0) {
      <div class="mb-4">
        <h1>Movies in French</h1>
        <app-carusel [movies]="frenchMovies()"></app-carusel>
      </div>
    }

    <div class="mb-4">
      <h1>Top films</h1>
      <app-top-movies></app-top-movies>
    </div>

    <div class="mb-4">
      <h1>The 7 newest movies</h1>
      <app-newest-movies></app-newest-movies>
    </div>

  }
</div>


<!-- modal -->
@if (selectedMovie) {
  <div class="custom-modal">
    <div class="modal-content">

      <!-- main -->
      <button type="button" class="close-btn" (click)="closeModal()">×</button>
      <img [src]="selectedMovie.posterMedium" [alt]="selectedMovie.title" />
      <h2 style="color: #007ACC;">{{ selectedMovie.title }}</h2>

      <!-- pulse animation -->
      <app-pulse-animation id="pulsAnim"></app-pulse-animation>

      <!-- movie duration -->
      <app-movie-duration id="movieDurat" [runtimeMinutes]="selectedMovie.runtime_minutes"></app-movie-duration>

    </div>
  </div>
}
