<div class="container-fluid mt-5">

  @if (isLoading()) {

    <div class="d-flex justify-content-center align-items-center gap-1">
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden"></span>
      </div>
      <div>
        <span role="status">Loading...</span>
      </div>
    </div>

  } @else {

    <div class="mb-4">
      <h1>Movies in all language</h1>
      <app-carusel (movieClicked)="openModal($event)"></app-carusel>
    </div>

    @if (englishMovies().length > 0) {
      <div class="mb-4">
        <h1>Movies in English</h1>
        <app-carusel [movies]="englishMovies()" (movieClicked)="openModal($event)"></app-carusel>
      </div>
    }

    @if (frenchMovies().length > 0) {
      <div class="mb-4">
        <h1>Movies in French</h1>
        <app-carusel [movies]="frenchMovies()" (movieClicked)="openModal($event)"></app-carusel>
      </div>
    }

    <div class="mb-4">
      <app-top-movies></app-top-movies>
    </div>

    <div class="mb-4">
      <app-newest-movies></app-newest-movies>
    </div>

  }
</div>



<!-- Modal -->
<app-modal #modal></app-modal>
