<div class="container my-5">
  <h2 class="text-center fw-bold mb-4">Watchlist 🎬</h2>

  <!-- If groupedWatchList is empty -->
  @if ((ScheduleWatchList() | keyvalue).length === 0) {
    <div class="text-center text-muted">
      <p id="watch-list">The watchlist is empty 🎬</p>
    </div>
  }

  @if ((ScheduleWatchList() | keyvalue).length > 0) {
    <div class="row">

      @for (group of ScheduleWatchList() | keyvalue; track $index) {
        <ng-container>
          <h4 class="mt-4">added {{ group.key }}</h4>

          @for (movie of group.value; track $index) {
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4">
              <div class="card shadow-sm border-0 h-100">
                <img [src]="movie.posterMedium" class="card-img-top" [alt]="movie.title" [title]="movie.title" />
                <div class="card-body d-flex flex-column">
                  <h5 id="watchlistH5" class="card-title text-center text-truncate">{{ movie.title }}</h5>
                  <div class="mt-auto">
                    <button type="button" (click)="remove(movie.imdb_id)" class="btn btn-outline-warning w-100">
                      <i class="bi bi-eye-slash-fill me-2"></i> remove
                    </button>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-success mt-2" (click)="openModal(movie)">Watching a movie</button>
                  </div>
                </div>
              </div>
            </div>
          }

        </ng-container>
      }

    </div>
  }

</div>


<!-- modal -->
@if (selectedMovie) {
  <div class="custom-modal">
    <div class="modal-content">

      <!-- main -->
      <button type="button" class="close-btn" (click)="closeModal()">×</button>
      <img [src]="selectedMovie.posterMedium" [alt]="selectedMovie.title" />
      <h2 style="color: #007ACC;">{{ selectedMovie.title }}</h2>

      <!-- pulse animation -->
      <app-pulse-animation id="pulsAnim"></app-pulse-animation>

      <!-- movie duration -->
      <app-movie-duration id="movieDurat" [runtimeMinutes]="selectedMovie.runtime_minutes"></app-movie-duration>

    </div>
  </div>
}


<!-- Toast Message (Bootstrap) -->
<div
  id="toast-message"
  class="toast align-items-center text-bg-warning border-0 position-fixed bottom-0 end-0 m-3"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  style="z-index: 1200;"
>
  <div class="d-flex">
    <div class="toast-body"></div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>