<!-- <div class="container mt-4">
  <h2 class="text-center fw-bold mb-4">Actors</h2>

  <div *ngIf="loading" class="text-center">Loading...</div>
  <div *ngIf="error" class="text-danger text-center">Error loading actors.</div>

  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let item of actorsList; trackBy: trackById">
      <div class="card h-100 actor-card" (click)="selectActor(item.id)">
        <img [src]="item.headshot_url" class="card-img-top actor-img" [alt]="item.full_name" title="image" />
        <div class="card-body text-center">
          <h5 class="card-title">{{ item.full_name }}</h5>
        </div>
      </div>
    </div>
  </div>
</div> -->
