<!-- Loader -->
@if (loading()) {
  <ng-container>
    <div class="spinner-border text-primary m-3" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </ng-container>
}

<!-- Error -->
@if (error()) {
  <ng-container>
    <div class="alert alert-danger m-3" role="alert">
      {{ error() }}
    </div>
  </ng-container>
}

<!-- Show Navigation only if not isloading -->
@if (!loading()) {

<!-- Start of Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">🎬 MoviesTK</a>

    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      [attr.aria-expanded]="navbarOpen"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngClass]="{ 'collapse': true, 'navbar-collapse': true, 'show': navbarOpen }" id="navbarNav">
      <ul class="navbar-nav me-auto" id="navbar-nav-id">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/home']" [routerLinkActive]="['active']" (click)="closeNavbar()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/movie-list']" [routerLinkActive]="['active']" (click)="closeNavbar()">Movies list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/favourites']" [routerLinkActive]="['active']" (click)="closeNavbar()">Favorites</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/watchlist']" [routerLinkActive]="['active']" (click)="closeNavbar()">Watch list</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/actors']" [routerLinkActive]="['active']" (click)="closeNavbar()">Actors</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/regions']" [routerLinkActive]="['active']" (click)="closeNavbar()">Regions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/networks']" [routerLinkActive]="['active']" (click)="closeNavbar()">Networks</a>
        </li>
      </ul>

      <!-- register and login -->
      <ng-container *ngIf="auth.isLoggedIn(); else guestLinks">
        <li class="nav-item profile_li">
          <a class="nav-link profile_a" [routerLink]="['/profile']" [routerLinkActive]="['active']">👤 Profile</a>
        </li>
        <button type="button" class="logout-btn" (click)="logout()">🚪 Logout</button>
      </ng-container>

      <!-- register and login -->
      <ng-template #guestLinks>
        <ul class="navbar-nav me-auto" id="auth-links-ul">
          <li class="nav-item login_li">
            <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']" (click)="closeNavbar()">Log In</a>
          </li>
          <li class="nav-item register_li">
            <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['active']" (click)="closeNavbar()">Sign In</a>
          </li>
        </ul>
      </ng-template>

      <!-- movie-search -->
      <div class="d-flex align-items-center me-3 search">
        <app-movie-search id="movie_search"></app-movie-search>
      </div>

      <button type="button" class="btn btn-outline-light theme_btn" style="height: 42px;" (click)="toggleTheme()">
        {{ darkMode() ? '🌙' : '☀️' }}
      </button>
    </div>
  </div>
</nav>
<!-- End of Navigation -->

}