.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.loading-indicator,
.error-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-collapse {
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: #ffc107 !important;
  transition: all 0.3s ease-in-out;
}

#auth-links-ul {
  margin: 10px !important;
}

.profile_li {
  margin-right: 10px;
  list-style: none !important;
  text-decoration: none !important;
}

.profile_a {
  background-color: transparent;
  border: 1px solid #007ACC;
  padding: 0.4rem 1rem;
  color: #007ACC;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile_a:hover {
  background-color: #007ACC;
  color: white;
}

.logout-btn {
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid #ff5252;
  padding: 0.4rem 1rem;
  color: #ff5252;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #ff5252;
  color: white;
}


/* responsive */
@media (max-width: 992px) {
  .search{
    display: none !important;
  }
}

@media (max-width: 1136px) {
  .nav-link {
    font-size: 14px;
  }
}