.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.loading-indicator,
.error-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-collapse {
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: #ffc107 !important;
  transition: all 0.3s ease-in-out;
}

#auth-links-ul {
  margin: 10px !important;
}

.profile_li {
  margin-right: 10px;
  list-style: none !important;
  text-decoration: none !important;
}

.profile_a {
  background-color: transparent;
  border: 1px solid #007ACC;
  padding: 0.4rem 1rem;
  color: #007ACC;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.profile_a:hover {
  background-color: #007ACC;
  color: white;
}

.logout-btn {
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid #ff5252;
  padding: 0.4rem 1rem;
  color: #ff5252;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #ff5252;
  color: white;
}

.login_li {
  border-right: 1px solid #ccc;
}

.register_li {
  border-left: 1px solid #ccc;
}



/* responsive */
@media (max-width: 1136px) {
  .nav-link {
    font-size: 15px;
  }
}

@media (max-width: 992px) {

  .navbar-nav {
    flex-direction: row;
  }

  .navbar-nav li {
    width: 100%;
    text-align: center;
  }

  .login_li,
  .register_li {
    border: 1px solid #ccc;
  }

  .login_li {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
  }

  .register_li {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }

  .search {
    width: 90%;
    margin-left: 10px;
  }

  #movie_search {
    width: 100%;
  }

  .navbar {
    position: relative;
  }

  .theme_btn {
    position: absolute;

    width: 7%;
    bottom: 8px;
    right: 11px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

}

@media (max-width: 520px) {
  
  .search {
    width: 85%;
  }

  .theme_btn {
    width: auto;
  }

}

@media (max-width: 468px) {

  .search {
    width: 80%;
  }

  #navbar-nav-id {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
  }

}

@media (max-width: 340px) {

  .search {
    width: 75%;
  }

}

@media (max-width: 320px) {

  .search {
    width: 70%;
  }

}

@media (max-width: 268px) {

  .search {
    width: 65%;
  }

}